pointer-events: none;

.app-container {
  padding: 20px;
}

.header {
    margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-task-btn {
  padding: 10px 15px;
  border-radius: 5px;
  background:#515151;
  color: white;
  border: 1px solid #555;
}

.kanban-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.column {
    background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  min-height: 600px;   /* full column height */
  display: flex;
  flex-direction: column;
}
.column-content {
  min-height: 450px;   /* large drop area */
  flex-grow: 1;
}


.column-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

.task-card {
  cursor: grab;
  background: #2b2b2b;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid #444;
}

.task-card-title {
  font-size: 18px;
  font-weight: bold;
}

.task-card-desc {
  margin-top: 5px;
  color: #aaa;
}

.delete-btn {
  margin-top: 10px;
  background: #d9534f;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 12px;
}

/* MODAL */
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.modal-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #2c2c2c;
  border: 1px solid #444;
  color: white;
  border-radius: 4px;
}

.modal-btn {
  width: 100%;
  padding: 10px;
  background: #333;
  border: 1px solid #555;
  color: white;
  border-radius: 5px;
}
